<div class="col-md-6 d-flex align-items-stretch mb-3">
    <div class="card w-100 d-flex flex-row" style="background-color: #374151;">
        <img src="" class="card-img-left img-fluid" alt="Movie image" style="width: 200px; height: auto; object-fit: cover;">
        <div class="card-body bg-dark text-white">
            <h5 class="card-title">Movie Name</h5>
            <p class="card-text"><strong>Thể loại:</strong> <span class="movie-type"></span></p>
            <p class="card-text"><strong>Thời lượng:</strong> <span class="movie-length"></span></p>
            <p class="card-text"><strong>Ngày khởi chiếu:</strong> <span class="movie-start-time"></span></p>
        </div>
    </div>
</div>
